shell = "zsh"

# 定义延迟加载模板：在 Shell 空闲时才 source 插件
[templates]
defer = "{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}"

# --- 核心延迟加载器 ---
[plugins.zsh-defer]
github = "romkatv/zsh-defer"
apply = ["source"] # 确保它立即被 source，不延迟

# ---  Powerlevel10k ---
# P10k 自身有极其先进的 Instant Prompt 技术，无需 defer
# 在 .zshrc 中手动处理 instant prompt，这里只负责加载主题文件
[plugins.powerlevel10k]
github = "romkatv/powerlevel10k"
apply = ["source"]

# --- 补全系统 UI (Fzf-tab) (立即加载，否则补全会卡顿或失效)---
[plugins.fzf-tab]
github = "Aloxaf/fzf-tab"
apply = ["source"]

# --- 自动建议 ---
[plugins.zsh-autosuggestions]
github = "zsh-users/zsh-autosuggestions"
use = ["{{ name }}.zsh"]
apply = ["defer"]

# --- 语法高亮 (最后加载，确保覆盖所有别名) ---
[plugins.fast-syntax-highlighting]
github = "zdharma-continuum/fast-syntax-highlighting"
apply = ["defer"]