# chezmoi 配置

{{ $email := promptStringOnce . "email" "Git email" -}}
{{ $name := promptStringOnce . "name" "Git username" -}}

[data]
email = "{{ $email }}"
name = "{{ $name }}"

[diff]
pager = "delta"

[merge]
command = "hx"

[edit]
command = "hx"
