# --- 交互式输入 (仅在首次初始化时询问) ---
{{- $email := promptStringOnce . "email" "Git Email address" -}}
{{- $name := promptStringOnce . "name" "Git Username" -}}

# 自动获取 Age 公钥 (优先读环境变量，否则读文件)
{{- $agekey := env "AGE_PUBLIC_KEY" -}}
{{- if not $agekey -}}
    {{- if stat (joinPath .chezmoi.homeDir ".config/sops/age/keys.txt") -}}
        {{- $agekey = output "sh" "-c" "grep 'public key' ~/.config/sops/age/keys.txt | cut -d: -f2 | tr -d ' '" | trim -}}
    {{- end -}}
{{- end -}}

# --- 核心配置 ---
sourceDir = "{{ .chezmoi.sourceDir }}"
encryption = "age"                     # 默认加密引擎

[age]
    identity = "~/.config/sops/age/keys.txt"
    recipient = "{{ $agekey }}"
    suffix = ".age"

[data]
    email = "{{ $email }}"
    name = "{{ $name }}"
    agekey = "{{ $agekey }}"

# 开启 Diff 比较时的颜色与分页
[diff]
    command = "delta"
    pager = "delta"
# 合并冲突解决
[merge]
    command = "hx" 

# 默认编辑器
[edit]
    command = "hx"