[tools]
# Python 生态
#"pipx:shell-gpt" = "latest"
# "pipx:aider-chat" = "latest"

# Node 生态
"npm:@anthropic-ai/claude-code" = "latest"
"npm:@openai/codex" = "latest"

#helix 插件
#"ubi:SilasMarvin/lsp-ai" = "latest"

# LSP
rust-analyzer = "latest"
"go:golang.org/x/tools/gopls" = "latest"
"github:clangd/clangd" = "latest"
"npm:pyright" = "latest"
"npm:typescript-language-server" = "latest"
"github:eclipse-jdtls/eclipse.jdt.ls" = "latest"
#jdtls找不到,官方脚本下

# runtime/compiler
node = "lts"
bun = "latest"
python = "latest"
"npm:typescript" = "latest"
go = "latest"
"java" = { version = "temurin-21", release_type = "ga" }

# Package Manager
uv = "latest"

[settings]
pipx.uvx = true
auto_install = false
legacy_version_file = false
activate_aggressive = false  # 明确行为，避免隐式 hook
experimental = true
trusted_config_paths = ["~/.config/mise"]