# 优先下载独立二进制版本,能用 uv 不用 pipx
[tools]
node = "lts"
python = "latest"

# Mise CLI 补全引擎
usage = "latest"              

# Python 生态
uv = "latest"
"pipx:copier" = "latest"
#"pipx:aider-chat" = "latest"

# Node 生态
"npm:@anthropic-ai/claude-code" = "latest"
"npm:@openai/codex" = "latest"
"npm:gemini-cli" = "latest"
"npm:opencode"   = "latest"

#二进制
# ===ai===
"ubi:SilasMarvin/lsp-ai" = "latest"

[settings]
pipx.uvx = true
experimental = false
auto_install = false
plugin_autoupdate_last_check_duration = "1 week"
legacy_version_file = false
activate_aggressive = false  # 明确行为，避免隐式 hook

trusted_config_paths = ["~/.config/mise"]