layout {
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
        //compact-bar location="zellij:compact-bar"
    }

    pane split_direction="vertical" {
        pane size="65%" {
            command "hx"
        }
        pane size="35%" {
            command "bash" "-l"
        }
    }

    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
}

//    strider location="zellij:strider"
//    session-manager location="zellij:session-manager"