layout {
    default_tab_template {
        // 顶部：显示 Tab 和 Session 名字
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
        
        children // 中间：主工作区
        
        // 底部：显示快捷键提示
        pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    // 定义 Dev Tab (默认进入的 IDE 界面)
    tab name="Dev" focus=true {
        pane split_direction="vertical" {
            // 左侧：编辑器区域
            // 1. sleep 0.1: 等待窗格尺寸初始化，防止 Helix 崩溃
            // 2. print ...: 发送 OSC 0 设置窗格名为当前目录名 ($PWD:t)
            // 3. hx .: 启动 Helix
            // [[ "$PWD" == "$HOME" ]] && T="~" : 如果是家目录，标题强制为 ~
            pane size="65%" focus=true {
                command "zsh"
                args "-c" "sleep 0.1; T=\"${PWD:t}\"; [[ \"$PWD\" == \"$HOME\" ]] && T=\"~\"; print -n \"\\033]0;${T}\\007\"; hx ."
            }
            
            // 右侧：终端区域
            pane size="35%" {
                command "zsh"
            }
        }
    }
}