[manager]
show_hidden = true
sort_by = "natural"
sort_dir_first = true
theme = "tokyo-night"

[opener]
hx-zellij = [
  { run = 'zellij action focus-left || exit 0; zellij action write-chars -- "hx somefile"; zellij action write 13; zellij action focus-right || true', desc="Open in hx" }
]

[open]
prepend_rules = [
  { mime = "text/*", use = "hx-zellij" },
  { mime = "application/json", use = "hx-zellij" },
  { mime = "application/toml", use = "hx-zellij" },
  { mime = "application/yaml", use = "hx-zellij" },
  { mime = "application/xml", use = "hx-zellij" },
]
