[manager]
show_hidden = true
sort_by = "natural"
sort_dir_first = true
theme = "tokyo-night"

[opener]
hx-zellij = [
  { run = '''
    file="$1"
    zellij action new-pane --stacked --cwd "$(dirname "$file")" -- hx "$file"
    # 关掉自己
    zellij action close-pane
  ''', desc = "Open in hx (stacked on current/yazi position)" }
]

[open]
prepend_rules = [
  { mime = "text/*", use = "hx-zellij" },
  { mime = "application/json", use = "hx-zellij" },
  { mime = "application/toml", use = "hx-zellij" },
  { mime = "application/yaml", use = "hx-zellij" },
  { mime = "application/xml", use = "hx-zellij" },
]
