[manager]
show_hidden = true
sort_by = "natural"
sort_dir_first = true
theme = "tokyo-night"

[opener]
hx-zellij = [
  { run = "hx \"$1\" && true", desc = "Open in hx (zellij)" }
]

[open]
prepend_rules = [
  { mime = "text/*", use = "hx-zellij" },
  { mime = "application/json", use = "hx-zellij" },
  { mime = "application/toml", use = "hx-zellij" },
  { mime = "application/yaml", use = "hx-zellij" },
  { mime = "application/xml", use = "hx-zellij" },
]
